*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    background-color: aqua;

}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#game{
    border: black solid 2px;
    margin: 0;

    text-align: center;
    width: 454px;
    height: 454px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-start;
    flex-wrap: wrap;
background: radial-gradient(circle 200px at center, #C6C8CA 100%, white 100%);}
.sqr{
    border: #939598 1px solid;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    z-index: 3;
}
.pencil{
    position: absolute;
    z-index: 1;
    font-size: 7px;
    opacity: 0.5;
}
#span-1{
    top: calc(45% + 18px * sin(200deg));
    left: calc(45% + 18px * cos(200deg));
}
#span-2{
    top: calc(45% + 18px * sin(240deg));
    left: calc(45% + 18px * cos(240deg));
}
#span-3{
    top: calc(45% + 18px * sin(280deg));
    left: calc(45% + 18px * cos(280deg));
}
#span-4{
    top: calc(45% + 18px * sin(320deg));
    left: calc(45% + 18px * cos(320deg));
}
#span-5{
    top: calc(45% + 18px * sin(0deg));
    left: calc(45% + 18px * cos(0deg));
}
#span-6{
    top: calc(45% + 18px * sin(40deg));
    left: calc(45% + 18px * cos(40deg));
}
#span-7{
    top: calc(45% + 18px * sin(80deg));
    left: calc(45% + 18px * cos(80deg));
}
#span-8{
    top: calc(45% + 18px * sin(120deg));
    left: calc(45% + 18px * cos(120deg));
}
#span-9{
    top: calc(45% + 18px * sin(160deg));
    left: calc(45% + 18px * cos(160deg));
}


.sqr:active{
background-color: rgb(170, 170, 255);
}
#message{
    width: 400px;
    text-align: center;
}
#once{
    font-weight: bold;
}
footer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    width: 70%;
    height: 30px;
    border: black solid 2px;
    background-color: bisque;
}

